.content {
    font-family: "Arial";
    font-size: 20pt;
    text-align: justify;
    float: center;
}

.nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

.nav li {
  float: right;
}

.nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.nav li a:hover:not(.active) {
  background-color: red;
}

.nav .active {
  background-color: #04AA6D;
}

.nav .hobby_title {
    float: left;
}

.nav .hobby_title a:hover:not(.active) {
    background-color: #333;
}
