{% extends "default.html" %}

{% block title %}
Chat Rooms
{% endblock %}

{% block header_nav %}
    {% if user.is_authenticated %}
        <li><a href="{% url 'logout' %}">Выйти</a></li>
        <li><a href="/profile/{{ user.pk }}">Профиль</a></li>
        <li><a class="active" href="/chat/">Чаты</a></li>
    {% else %}
        <li><a href="{% url 'login' %}">Войти</a></li>
        <li><a href="{% url 'signup' %}">Регистрация</a></li>
        <li><a class="active" href="{% url 'index' %}">Главная</a></li>
    {% endif %}
{% endblock header_nav %}

{% block content %}
    {% if user.is_authenticated %}
        <div class="rooms_list">
            <h1>Список комнат</h1>
            {% if rooms %}
                {% for room in rooms %}
                    <div class="room_list_element">
                        <a href="/{{room.name}}">{{room.name}}</a>
                    </div>
                {% endfor %}
            {% else %}
                <h2>Комнат нет!</h2>
            {% endif %}
        </div>
    {% else %}
        <div>
            <p>Добро пожаловать в Django-chat-rest!</p>
            <p>Войдите или зарегистрируйтесь, чтобы продолжить</p>
        </div>
    {% endif %}
{% endblock %}

{% block scripts %}
<script>
    document.querySelector('#room-name-input').focus();
    document.querySelector('#room-name-input').onkeyup = function(e) {
        if (e.keyCode === 13) {  // enter, return
            document.querySelector('#room-name-submit').click();
        }
    };

    document.querySelector('#room-name-submit').onclick = function(e) {
        var roomName = document.querySelector('#room-name-input').value;
        window.location.pathname = '/chat/' + roomName + '/';
    };
</script>
{% endblock %}
