{% extends "default.html" %}

{% block title %}
Chat Rooms
{% endblock %}

{% block content %}
    {% if user.is_authenticated %}
        <div class="rooms_list">
            {% for room in rooms %}
                <div class="room_list_element">
                    {{room.title}}
                </div>
            {% endfor %}
        </div>
    {% else %}
        <div>
            <p>Добро пожаловать в Django-chat-rest!</p>
            <p>Войдите или зарегистрируйтесь, чтобы продолжить</p>
        </div>
    {% endif %}
{% endblock %}

{% block scripts %}
<script>
    document.querySelector('#room-name-input').focus();
    document.querySelector('#room-name-input').onkeyup = function(e) {
        if (e.keyCode === 13) {  // enter, return
            document.querySelector('#room-name-submit').click();
        }
    };

    document.querySelector('#room-name-submit').onclick = function(e) {
        var roomName = document.querySelector('#room-name-input').value;
        window.location.pathname = '/chat/' + roomName + '/';
    };
</script>
{% endblock %}
