{% extends "default.html" %}

{% block title %}
Chat Rooms
{% endblock %}

{% block content %}
    <div class="room_title">
        Room Title
    </div>
    <div class="messages_area" id="messages_area">
        <div class="user_message">
            <p class="bubble speech">Message text from the user</p>
            <p class="user_name">Username</p>
        </div>
    </div>
    <div class="message_input">
        <input id="chat-message-input" type="text" size="100"><br>
        <input id="chat-message-submit" type="button" value="Send">
    </div>
{% endblock content %}

{% block scripts %}
{{ room_name|json_script:"room-name" }}
{{ request.user.username|json_script:"json-username" }}
<script>
    const roomName = JSON.parse(document.getElementById('room-name').textContent);
    const userName = JSON.parse(document.getElementById('json-username').textContent);

    const chatSocket = new WebSocket(
        'ws://'
        + window.location.host
        + '/ws/chat/'
        + roomName
        + '/'
    );

    chatSocket.onmessage = function(e) {
        const data = JSON.parse(e.data);
        if (data.message) {
            let html = '<div class="user_message">';
            html += '<p class="bubble speech">' + data.message + '</p>';
            html += '<p class="user_name">' + data.username + '</p>';
            html += '</div>'
            document.querySelector('#messages_area').innerHTML += html;
        } else {
            alert('Empty message');
        }
    };

    chatSocket.onclose = function(e) {
        console.error('Chat socket closed unexpectedly');
    };

    document.querySelector('#chat-message-input').focus();
    document.querySelector('#chat-message-input').onkeyup = function(e) {
        if (e.keyCode === 13) {  // enter, return
            document.querySelector('#chat-message-submit').click();
        }
    };

    document.querySelector('#chat-message-submit').onclick = function(e) {
        const messageInputDom = document.querySelector('#chat-message-input');
        const message = messageInputDom.value;
        chatSocket.send(JSON.stringify({
            'message': message,
            'username': userName,
            'room': roomName
        }));
        messageInputDom.value = '';
    };
</script>
{% endblock %}
