{% extends "default.html" %}

{% block title %}
Регистрация
{% endblock %}

{% block header_nav %}
    {% if user.is_authenticated %}
        <li><a href="{% url 'logout' %}">Выйти</a></li>
        <li><a href="/profile/{{ user.pk }}">Профиль</a></li>
        <li><a class="active" href="/chat/">Чаты</a></li>
    {% else %}
        <li><a href="{% url 'login' %}">Войти</a></li>
        <li><a class="active" href="{% url 'signup' %}">Регистрация</a></li>
        <li><a href="{% url 'index' %}">Главная</a></li>
    {% endif %}
{% endblock header_nav %}

{% block content %}
<h2> Войти в систему </h2>
<form method="post">
{% csrf_token %}
{{ form.as_p }}
<input type="submit" value="Продолжить">
</form>
{% endblock %}
